<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-md-4">
    <h2>Date to Date Balance Reports</h2>

  </div>
  <div class="col-md-12">
    <h2 class="text-right">
      <%= select_tag 'party_id', options_from_collection_for_select(Party.all,:id, :name), { :class =>'btn btn-white',:include_blank => 'Select party' } %>
      <input type="text" placeholder="Start date" class="datepicker btn btn-white start_date" value="<%= @start_date %>"> to
      <input type="text" placeholder="Start date" class="datepicker btn btn-white end_date" value="<%= @end_date %>">
      <span id="report_search" class="btn btn-default">
          <i class="fa fa-search"></i>
          Search
        </span>
    </h2>
  </div>
</div>


<!-- begin page #content -->

<!-- begin row -->
<div class="row border-bottom white-bg dashboard-header">

  <!-- begin col-12 -->
  <div class="col-md-12">
    <!-- begin panel -->
    <div class="panel panel-inverse">
      <div class="panel-heading" id="reports_header_info">
        <div class="row">
          <div class="col-md-6">
            <h4 class="">
              <span class="text-left">Party balance reports</span>
            </h4>
            <h4>
              <span class="text-right">Party: <%= @party ? @party.name : 'All'  %> </span>
            </h4>
            <h5>
              <%= link_to date_to_date_report_parties_path(:format => :xls), target: '_blank'  do %>
                  <span class="label label-info"><i class="fa fa-download"></i> Download xls</span>
              <% end %>
              <%= link_to date_to_date_report_parties_path(:format => :pdf), target: '_blank'  do %>
                  <span class="label label-success"><i class="fa fa-download"></i> Download PDF</span>
              <% end %>
            </h5>
          </div>
          <div class="col-md-6 text-right">
            <h4>
              <span class="text-right">Start date:  <%= @start_date.strftime("%d-%b, %Y") if @start_date %> </span>
            </h4>
            <h4>
              <span class="text-right">End date:  <%= @end_date.strftime("%d-%b, %Y") if @end_date %> </span>
            </h4>
          </div>
        </div>
      </div>
      <div id="reports_holder">
        <%= render 'parties/reports_list_view_partial' %>
      </div>
    </div>
    <!-- end panel -->
  </div>
  <!-- end col-10 -->
</div>
<!-- end row -->

<!-- end page #content -->



<script>

    $('.datepicker').datepicker({
        autoclose: true,
        todayBtn: "linked",
        format: 'yyyy/mm/dd'
    });

    $('#report_search').click(function(){
        var party_id =$('#party_id').val();
        var start_date =$('.start_date').val();
        var end_date =$('.end_date').val();
        var spinner = $('<div style="text-align: center"><img src="/img/loading_spinner.gif"></div>');
        $('#reports_holder').html(spinner)
        $.ajax({
            url:'<%= date_to_date_report_search_parties_path %>',
            type: 'get',
            data:{ party_id: party_id, start_date: start_date, end_date: end_date }
        });
    });

</script>