<!-- begin page #content -->

<!-- begin row -->

<div class="row  border-bottom white-bg dashboard-header">
  <!-- begin col-6 -->
  <div class="col-md-12">
    <!-- begin panel -->
    <div class="panel panel-inverse" data-sortable-id="form-stuff-3">
      <div class="panel-heading">
        <div class="panel-heading-btn">
          <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>-->
          <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>-->
          <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>-->
          <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>-->
        </div>
        <h4 class="panel-title">Settings</h4>
      </div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <!--<form action="http://seantheme.com/" method="POST">-->
          <fieldset>
            <legend>Change password or email address</legend>
            <div class="form-group">
              <%= devise_error_messages! %>
            </div>

            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <%= f.email_field :email, autofocus: true, :class=>"form-control", :placeholder=>"Enter email" %>
            </div>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label><i> (leave blank if you don't want to change it)</i>
              <%= f.password_field :password, autocomplete: "off", :class=>"form-control", :placeholder=>"Password" %>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password confirmation</label>
              <%= f.password_field :password_confirmation, autocomplete: "off", :class=>"form-control", :placeholder=>"Password confirmation" %>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Current password</label><i> (we need your current password to confirm your changes)</i>
              <%= f.password_field :current_password, autocomplete: "off", :class=>"form-control", :placeholder=>"Current password" %>
            </div>

            <%= f.submit "Update", :class=>'btn btn-sm btn-primary m-r-5', data: { disable_with: "Updating..." } %>
            <!--<button type="submit" class="btn btn-sm btn-primary m-r-5">Login</button>-->
            <%= link_to 'Back', :back, data: { no_turbolink: true }, :class => 'btn btn-sm btn-default' %>
            <!--<button type="submit" class="btn btn-sm btn-default">Cancel</button>-->
          </fieldset>
        <!--</form>-->
        <% end %>
      </div>
    </div>
    <!-- end panel -->
  </div>
</div>
<!-- end row -->

<!-- end page #content -->


