<div class="row">
  <div class="col-md-6">
    <h4 class="">
      <span class="text-left">Add imported product's reports</span>
    </h4>
    <h4>
      <span class="text-right">Product Type: <%= @product_type ? @product_type.name : 'All'  %> </span>
    </h4>
    <h4>
      <span class="text-right">Product Color: <%= @product_color ? @product_color.name : 'All'  %> </span>
    </h4>
    <h4>
      <span class="text-right">Party: <%= @party ? @party.name : 'All'  %> </span>
    </h4>
    <h5>
      <% product_type_id = '' %>
      <% party_id = '' %>
      <% product_color_id = '' %>
      <% product_type_id = @product_type.id if @product_type %>
      <% product_color_id = @product_color.id if @product_color %>
      <% party_id = @party.id if @party %>
      <%= link_to date_to_date_report_download_product_imports_path(:format => :xls, :product_type_id => product_type_id, :party_id => party_id, :product_color_id => product_color_id, :start_date=> @start_date, :end_date=> @end_date), target: '_blank'  do %>
          <span class="label label-info"><i class="fa fa-download"></i> Download xls</span>
      <% end %>
      <%= link_to date_to_date_report_download_product_imports_path(:format => :pdf, :product_type_id => product_type_id, :party_id => party_id, :product_color_id => product_color_id, :start_date=> @start_date, :end_date=> @end_date), target: '_blank'  do %>
          <span class="label label-success"><i class="fa fa-download"></i> Download PDF</span>
      <% end %>
    </h5>
  </div>
  <div class="col-md-6 text-right">
    <h4>
      <span class="text-right">Start date:  <%= @start_date.strftime("%d-%b, %Y") if @start_date %> </span>
    </h4>
    <h4>
      <span class="text-right">End date:  <%= @end_date.strftime("%d-%b, %Y") if @end_date %> </span>
    </h4>
  </div>
</div>