<div class="row border-bottom white-bg dashboard-header">
  <!-- begin col-6 -->
  <div class="col-md-12">
    <!-- begin panel -->
    <div class="panel panel-inverse" data-sortable-id="form-stuff-3">

      <div class="panel-body">
        <%= form_for @product_import do |f| %>
            <fieldset>
              <div class="form-group">
                <% if @product_import.errors.any? %>
                    <div id="error_explanation">
                      <h2>
                        <%= pluralize(@product_import.errors.count, "Error") %>
                      </h2>
                      <ul>
                        <% @product_import.errors.full_messages.each do |msg| %>
                            <li><%= msg %></li>
                        <% end %>
                      </ul>
                    </div>
                <% end %>
              </div>

              <div class="form-group col-md-6 has-success">
                <label for="exampleInputEmail1">Select product type*</label>
                <%= select_tag 'product_type_id', options_from_collection_for_select(ProductType.where(:isActive => true),:id, :name, :selected=>@product_import.product_type_id), {:prompt=>'Select product type', :class => 'form-control' } %>
              </div>
              <div class="form-group col-md-6 has-success">
                <label for="exampleInputEmail1">Select product color*</label>
                <%= select_tag 'product_color_id', options_from_collection_for_select(ProductColor.where(:isActive => true),:id, :name, :selected=>@product_import.product_type_id), {:prompt=>'Select product color', :class => 'form-control' } %>
              </div>
              <div class="form-group col-md-6 has-success">
                <label for="exampleInputEmail1">Select party*</label>
                <%= select_tag 'party_id', options_from_collection_for_select(Party.where(:isActive => true),:id, :name, :selected=>@product_import.party_id), {:prompt=>'Select party', :class => 'form-control' } %>
              </div>
              <div class="form-group col-md-6 has-success">
                <label for="exampleInputEmail1">Quantity(kg)*</label>
                <%= f.text_field :quantity, autofocus: true, :class=>"form-control", :placeholder=>"Quantity(kg)*" %>
              </div>
              <div class="form-group col-md-6 has-success">
                <label for="exampleInputEmail1">Rate*</label>
                <%= f.text_field :rate, autofocus: true, :class=>"form-control", :placeholder=>"Rate*" %>
              </div>
              <div class="form-group col-md-6 has-success">
                <label for="exampleInputEmail1">Convince</label>
                <%= f.text_field :convince, autofocus: true, :class=>"form-control", :placeholder=>"Convince" %>
              </div>
              <div class="form-group col-md-6 has-success">
                <label for="exampleInputEmail1">Labour cost</label>
                <%= f.text_field :labour_cost, autofocus: true, :class=>"form-control", :placeholder=>"Labour cost" %>
              </div>
              <div class="form-group col-md-6 has-success">
                <label for="exampleInputEmail1">Transport cost</label>
                <%= f.text_field :transport_cost, autofocus: true, :class=>"form-control", :placeholder=>"Transport cost" %>
              </div>
              <div class="form-group col-md-6 has-success">
                <label for="exampleInputEmail1">Car number</label>
                <%= f.text_field :car_number, autofocus: true, :class=>"form-control", :placeholder=>"Car number" %>
              </div>
              <div class="form-group col-md-6 has-success">
                <label for="exampleInputEmail1">Import date</label>
                <%= f.text_field :import_date, autofocus: true, :class=>"form-control datepicker", :placeholder=>"Import date*" %>
              </div>
              <div class="form-group col-md-12 has-success">
                <label for="exampleInputEmail1">Remarks</label>
                <%= f.text_area :remarks, autofocus: true, :class=>"form-control", :placeholder=>"Remarks" %>
              </div>

              <div class="form-group col-md-12 has-success">
                  <%= f.submit "Submit", :class=>'btn btn-sm btn-primary m-r-5', data: { disable_with: "Submiting...", confirm: "Are you sure? you want to add import product." } %>
                  <%= link_to 'Back', :back ,data: { no_turbolink: true }, :class => 'btn btn-sm btn-default' %>
              </div>
            </fieldset>
        <% end %>
      </div>
    </div>
    <!-- end panel -->
  </div>
</div>


<script>
    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green'
    });

    $('.datepicker').datepicker({
        autoclose: true,
        todayBtn: "linked",
        format: 'yyyy/mm/dd'
    });

</script>