<!-- begin page #content -->


<!-- begin row -->

<div class="row border-bottom white-bg dashboard-header">
  <!-- begin col-6 -->
  <div class="col-md-12">
    <!-- begin panel -->
    <div class="panel panel-inverse" data-sortable-id="form-stuff-3">
      <div class="panel-heading">

        <h3 class="">Admin creation page</h3>
      </div>
      <div class="panel-body">
        <%= form_for @user, url: admins_path, method: :post do |f| %>
            <!--<form action="http://seantheme.com/" method="POST">-->
            <fieldset>
              <legend>Admin form</legend>
              <div class="form-group">
                <% if @user.errors.any? %>
                    <div id="error_explanation">
                      <h2>
                        <%= pluralize(@user.errors.count, "error") %>
                      </h2>
                      <ul>
                        <% @user.errors.full_messages.each do |msg| %>
                            <li><%= msg %></li>
                        <% end %>
                      </ul>
                    </div>
                <% end %>
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <%= f.email_field :email, autofocus: true, :class=>"form-control", :placeholder=>"Enter email" %>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label><i> (minimum 8 characters required)</i>
                <%= f.password_field :password, autocomplete: "off", :class=>"form-control", :placeholder=>"Password" %>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password confirmation</label>
                <%= f.password_field :password_confirmation, autocomplete: "off", :class=>"form-control", :placeholder=>"Password confirmation" %>
              </div>

              <%= f.submit "Create admin", :class=>'btn btn-sm btn-primary m-r-5', data: { disable_with: "Creating..." } %>
              <!--<button type="submit" class="btn btn-sm btn-primary m-r-5">Login</button>-->
              <%= link_to 'Back', :back ,data: { no_turbolink: true }, :class => 'btn btn-sm btn-default' %>
              <!--<button type="submit" class="btn btn-sm btn-default">Cancel</button>-->
            </fieldset>
            <!--</form>-->
        <% end %>
      </div>
    </div>
    <!-- end panel -->
  </div>
</div>
<!-- end row -->

<!-- end page #content -->


