<style>
    .profile-image .profile_image_tag{
        width: 60%;
        border-radius: 4px;
        border: 1px solid #ffffff;

        -webkit-box-shadow: 3px 3px 15px 2px rgba(192,214,200,1);
        -moz-box-shadow: 3px 3px 15px 2px rgba(192,214,200,1);
        box-shadow: 3px 3px 15px 2px rgba(192,214,200,1);
    }
    #user_information_profile_photo{
        display: none;
    }
    #change_profile_form{
        margin-top: 10px;
    }
</style>
<!-- begin page #content -->

<!-- begin profile-section -->
<div class="row border-bottom white-bg dashboard-header">
  <!-- begin profile-left -->
  <!--<div class="col-md-4">-->
    <!--&lt;!&ndash; begin profile-image &ndash;&gt;-->
    <!--<div class="profile-image">-->
      <!--<%# if @user_information.profile_photo? %>-->
          <!--<img class="profile_image_tag" src="<%#= @user_information.profile_photo.cthumb %>" fall>-->
      <!--<%# else %>-->
          <!--<img class="profile_image_tag" src="/img/demo_profile.png" alt="" />-->
      <!--<%# end %>-->
      <!--<i class="fa fa-user hide"></i>-->
    <!--</div>-->
    <!--&lt;!&ndash; end profile-image &ndash;&gt;-->
    <!--<div class="m-b-10">-->
      <!--<form id="change_profile_form">-->
        <!--<%#= hidden_field_tag :user_info_id, @user_information.id %>-->
        <!--<%#= hidden_field_tag :authenticity_token, form_authenticity_token -%>-->
        <!--<label title="Upload image file" for="inputImage" class="btn btn-primary">-->
          <!--<input type="file" accept="image/*" name="user_information[profile_photo]" id="inputImage" class="hide user_information_profile_photo">-->
          <!--<i class="fa fa-upload"></i>-->
          <!--<span>Upload profile photo...</span>-->
        <!--</label>-->
        <!--&lt;!&ndash;<span class="btn btn-warning btn-block btn-sm fileinput-button">&ndash;&gt;-->
        <!--&lt;!&ndash;<i class="fa fa-upload"></i>&ndash;&gt;-->
        <!--&lt;!&ndash;<span>Upload profile photo...</span>&ndash;&gt;-->
        <!--&lt;!&ndash;<input class="btn btn-warning btn-block btn-sm" type="file" name="user_information[profile_photo]" id="user_information_profile_photo">&ndash;&gt;-->
        <!--&lt;!&ndash;</span>&ndash;&gt;-->
      <!--</form>-->
      <!--&lt;!&ndash;<a href="#" class="btn btn-warning btn-block btn-sm">Change Picture</a>&ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash; begin profile-highlight &ndash;&gt;-->
    <!--<div class="profile-highlight">-->
      <!--<h4><i class="fa fa-cog"></i> Only My Contacts</h4>-->
      <!--<div class="checkbox m-b-5 m-t-0">-->
        <!--<label><input type="checkbox" /> Show my timezone</label>-->
      <!--</div>-->
      <!--<div class="checkbox m-b-0">-->
        <!--<label><input type="checkbox" /> Show i have 14 contacts</label>-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; end profile-highlight &ndash;&gt;-->
  <!--</div>-->
  <!-- end profile-left -->
  <!-- begin profile-right -->
  <div class="col-md-12">
    <!-- begin profile-info -->
    <div class="profile-info">
      <!-- begin table -->
      <div class="table-responsive">
        <table class="table table-profile">
          <thead>
          <tr>
            <th></th>
            <th>
              <h3><%= @company_info.name %>  <small></small></h3>
            </th>
            <th class="text-right">
              <h4><%= link_to 'Edit', edit_company_information_path(@company_info),data: { no_turbolink: true }, :class=>"btn btn-default"  %></h4>
            </th>
          </tr>
          </thead>
          <tbody>

          <tr>
            <td class="field">Short name</td>
            <td>
               <%= @company_info.short_name %>
              <!--<a href="#" class="m-l-5">Edit</a>-->
            </td>
          </tr>
          <tr>
            <td class="field">Description</td>
            <td>
              <%= @company_info.description %>
              <!--<a href="#" class="m-l-5">Edit</a>-->
            </td>
          </tr>
          <tr>
            <td class="field">Logo</td>
            <td>

              <img width="80px" src="<%= @company_info.logo if @company_info.logo %>">
              <!--<a href="#" class="m-l-5">Edit</a>-->
            </td>
          </tr>
          <tr>
            <td class="field">Contact number</td>
            <td>
              <i class="fa fa-mobile fa-lg m-r-5"></i> <%= @company_info.contact_number %>
              <!--<a href="#" class="m-l-5">Edit</a>-->
            </td>
          </tr>
          <tr>
            <td class="field">Email</td>
            <td>
              <i class="fa fa-envelope fa-lg m-r-5"></i> <%= @company_info.email %>
              <!--<a href="#" class="m-l-5">Edit</a>-->
            </td>
          </tr>

          <tr>
            <td class="field">Address</td>
            <td>
              <%= @company_info.address %>
            </td>
          </tr>

          <tr>
            <td class="field">Fax</td>
            <td>
              <%= @company_info.fax %>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
      <!-- end table -->
    </div>
    <!-- end profile-info -->
  </div>
  <!-- end profile-right -->
</div>
<!-- end profile-section -->


<!-- end page #content -->
<style type="text/css">
    #crop-image-show{
        display: block;
        position: fixed;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 66666;
        background-color: black;
    }
    .loading_effect_implement{
        display: none;
        position: fixed;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 66667;
        background-color: white;
        text-align: center;
        padding-top: 100px;
    }
</style>

<div id="crop-image-show"  style="display: none;">
  <div id="crop-image"></div>
</div>
<div class="loading_effect_implement">
  <img src="/img/loading_spinner.gif">
</div>

<script>
//    $('.user_information_profile_photo').change(function(){
//        $('form#change_profile_form').submit();
//    });
//    $('form#change_profile_form').submit(function(e){
//        $('.profile-image .profile_image_tag').attr('src','/img/loading_spinner.gif');
//        $.ajax({
//            url: '/user_informations/profile_picture_change',
//            type: 'POST',
//            data: new FormData(this),
//            processData: false,
//            contentType: false
//        });
//        e.preventDefault();
//    });
</script>