<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-md-4">
    <h2>Cash Balance Entry Reports</h2>

  </div>
  <div class="col-md-8">
    <h2 class="text-right">
        <%= select_tag 'month_id', options_from_collection_for_select(Month.all,:id, :name), { :class =>'btn btn-white',:include_blank => 'Select month' } %>
        <%= select_tag 'year_id', options_from_collection_for_select(Year.all,:name, :name), { :class =>'btn btn-white',:include_blank => 'Select year' } %>
        <span id="report_search" class="btn btn-default">
          <i class="fa fa-search"></i>
          Search
        </span>
    </h2>
  </div>
</div>


<!-- begin page #content -->

<!-- begin row -->
<div class="row border-bottom white-bg dashboard-header">

  <!-- begin col-12 -->
  <div class="col-md-12">
    <!-- begin panel -->
    <div class="panel panel-inverse">
      <div class="panel-heading" id="reports_header_info">
        <div class="row">
          <div class="col-md-6">
            <h4 class="">
              <span class="text-left">Cash balance entry reports</span>
            </h4>

            <h5>
              <%= link_to monthly_and_yearly_report_cash_balance_entries_path(:format => :xls), target: '_blank'  do %>
                  <span class="label label-info"><i class="fa fa-download"></i> Download xls</span>
              <% end %>
              <%= link_to monthly_and_yearly_report_cash_balance_entries_path(:format => :pdf), target: '_blank'  do %>
                  <span class="label label-success"><i class="fa fa-download"></i> Download PDF</span>
              <% end %>
            </h5>
          </div>
          <div class="col-md-6 text-right">
            <h4>
              <span class="text-right">Month: <%= @month ? @month.name : 'All'  %> </span>
            </h4>
            <h4>
              <span class="text-right">Year: <%= @year ? @year.name : 'All'  %> </span>
            </h4>
          </div>
        </div>
      </div>
     <div id="reports_holder">
       <%= render 'cash_balance_entries/reports_list_view_partial' %>
     </div>
    </div>
    <!-- end panel -->
  </div>
  <!-- end col-10 -->
</div>
<!-- end row -->

<!-- end page #content -->



<script>

  $('#report_search').click(function(){
      var year_id =$('#year_id').val();
      var month_id =$('#month_id').val();
      var spinner = $('<div style="text-align: center"><img src="/img/loading_spinner.gif"></div>');
      $('#reports_holder').html(spinner)
      $.ajax({
          url:'<%= monthly_and_yearly_report_search_cash_balance_entries_path %>',
          type: 'get',
          data:{ year_id: year_id, month_id:month_id }
      });
  });

</script>