<div class="loginColumns animated fadeInDown">
  <div class="row">

    <div class="col-md-6">
      <h2 class="font-bold">Welcome to <%= get_company_info.name %></h2>

      <p>
        <%= get_company_info.description %>
      </p>

    </div>
    <div class="col-md-6">
      <div class="ibox-content">


        <%= form_for(resource, as: resource_name, :class => 'm-t', url: session_path(resource_name)) do |f| %>
            <!--<form action="http://seantheme.com/color-admin-v1.7/admin/html/index.html" method="POST" class="margin-bottom-0">-->
            <div class="form-group">
              <%= f.email_field :email, autofocus: true, :class=>"form-control", :placeholder => "Email Address" %>
              <!--<input type="text" class="form-control input-lg" placeholder="Email Address" />-->
            </div>
            <div class="form-group">
              <%= f.password_field :password, autocomplete: "off" , :class=>"form-control", :placeholder => "Password"%>
              <!--<input type="text" class="form-control input-lg" placeholder="Password" />-->
            </div>
            <div class="login-buttons">
              <%= f.submit "Sign me in", :class=>"btn btn-primary block full-width m-b",  data: { disable_with: "Signing..." } %>
            </div>

            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                <%= link_to "Forgot your password?", new_password_path(resource_name), :class => 'display-block text-center m-t-md text-sm', data: { no_turbolink: true } %>
            <% end -%>
            <!--<p class="text-muted text-center">-->
              <!--<small>Do not have an account?</small>-->
            <!--</p>-->

            <%#= link_to('Create an account', new_user_registration_path, :class => 'btn btn-sm btn-white btn-block', data: { no_turbolink: true })  %>
            <!--</form>-->
        <% end %>
        <p class="m-t">
        </p>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-6">
      Copyright <%= get_company_info.name %>
    </div>
    <div class="col-md-6 text-right">
      <small>© 2015-2016</small>
    </div>
  </div>
</div>

