<div class="loginColumns animated fadeInDown">
  <div class="row">

    <div class="col-md-6">
      <h2 class="font-bold">Welcome to Restaurant</h2>

      <p>
        Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
      </p>

      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      </p>

      <p>
        When an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </p>

      <p>
        <small>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</small>
      </p>

    </div>
    <div class="col-md-6">
      <div class="ibox-content">
        <!--<form class="m-t" role="form" action="http://webapplayers.com/inspinia_admin-v2.0/index.html">-->
          <!--<div class="form-group">-->
            <!--<input type="email" class="form-control" placeholder="Username" required="">-->
          <!--</div>-->
          <!--<div class="form-group">-->
            <!--<input type="password" class="form-control" placeholder="Password" required="">-->
          <!--</div>-->
          <!--<button type="submit" class="btn btn-primary block full-width m-b">Login</button>-->

          <!--<a href="#">-->
            <!--<small>Forgot password?</small>-->
          <!--</a>-->

          <!--<p class="text-muted text-center">-->
            <!--<small>Do not have an account?</small>-->
          <!--</p>-->
          <!--<a class="btn btn-sm btn-white btn-block" href="register.html">Create an account</a>-->
        <!--</form>-->
        <%= render 'layouts/alert_messages' %>
        <%= form_for(resource, as: resource_name, :class => 'm-t', url: session_path(resource_name)) do |f| %>
            <!--<form action="http://seantheme.com/color-admin-v1.7/admin/html/index.html" method="POST" class="margin-bottom-0">-->
            <div class="form-group">
              <%= f.email_field :email, autofocus: true, :class=>"form-control", :placeholder => "Email Address" %>
              <!--<input type="text" class="form-control input-lg" placeholder="Email Address" />-->
            </div>
            <div class="form-group">
              <%= f.password_field :password, autocomplete: "off" , :class=>"form-control", :placeholder => "Password"%>
              <!--<input type="text" class="form-control input-lg" placeholder="Password" />-->
            </div>
            <div class="login-buttons">
              <%= f.submit "Sign me in", :class=>"btn btn-primary block full-width m-b",  data: { disable_with: "Signing..." } %>
            </div>

            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                <%= link_to "Forgot your password?", new_password_path(resource_name), :class => 'display-block text-center m-t-md text-sm', data: { no_turbolink: true } %>
            <% end -%>
            <p class="text-muted text-center">
              <small>Do not have an account?</small>
            </p>

            <%= link_to('Create an account', new_user_registration_path, :class => 'btn btn-sm btn-white btn-block', data: { no_turbolink: true })  %>
            <!--</form>-->
        <% end %>
        <p class="m-t">
          <small> we app framework base on Bootstrap 3 &copy; 2014</small>
        </p>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-6">
      Copyright Example Company
    </div>
    <div class="col-md-6 text-right">
      <small>© 2014-2015</small>
    </div>
  </div>
</div>

