  <div class="login-cover">
    <div class="login-cover-image"><img src="/img/login-bg/bg-2.jpg" data-id="login-cover-image" alt="" /></div>
    <div class="login-cover-bg"></div>
  </div>
  <!-- begin #page-container -->
  <div id="page-container" class="fade">
    <!-- begin login -->
    <div class="login login-v2" data-pageload-addclass="animated fadeIn">
      <!-- begin brand -->
      <div class="login-header">
        <div class="brand">
          <span class="logo"></span> Admin Login
          <small>responsive bootstrap 3 admin template</small>
        </div>
        <div class="icon">
          <i class="fa fa-sign-in"></i>
        </div>
      </div>
      <!-- end brand -->
      <div class="login-content">
            <div class="form-group m-b-20">
              <%= render 'layouts/alert_messages' %>
            </div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <!--<form action="http://seantheme.com/color-admin-v1.7/admin/html/index.html" method="POST" class="margin-bottom-0">-->
            <div class="form-group m-b-20">
              <%= f.email_field :email, autofocus: true, :class=>"form-control input-lg", :placeholder => "Email Address" %>
              <!--<input type="text" class="form-control input-lg" placeholder="Email Address" />-->
            </div>
            <div class="form-group m-b-20">
              <%= f.password_field :password, autocomplete: "off" , :class=>"form-control input-lg", :placeholder => "Password"%>
              <!--<input type="text" class="form-control input-lg" placeholder="Password" />-->
            </div>
            <div class="checkbox m-b-20">
              <% if devise_mapping.rememberable? -%>
                  <label>
                    <%= f.check_box :remember_me %> Remember Me
                  </label>
              <% end -%>
              <span class="pull-right">
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <%= link_to "Forgot your password?", new_password_path(resource_name), data: { no_turbolink: true } %><br />
          <% end -%>
          </span>
            </div>
            <div class="login-buttons">
              <%= f.submit "Sign me in", :class=>"btn btn-success btn-block btn-lg",  data: { disable_with: "Signing..." } %>
              <!--<button type="submit" class="btn btn-success btn-block btn-lg">Sign me in</button>-->
            </div>
            <div class="m-t-20">
              Not a member yet? Click <%= link_to('here', new_user_registration_path, data: { no_turbolink: true })  %> to register.
            </div>
            <!--</form>-->
        <% end %>
      </div>
    </div>
    <!-- end login -->

    <!--<ul class="login-bg-list">-->
    <!--<li class="active"><a href="#" data-click="change-bg"><img src="/img/login-bg/bg-1.jpg" alt="" /></a></li>-->
    <!--<li><a href="#" data-click="change-bg"><img src="/img/login-bg/bg-2.jpg" alt="" /></a></li>-->
    <!--<li><a href="#" data-click="change-bg"><img src="/img/login-bg/bg-3.jpg" alt="" /></a></li>-->
    <!--<li><a href="#" data-click="change-bg"><img src="/img/login-bg/bg-4.jpg" alt="" /></a></li>-->
    <!--<li><a href="#" data-click="change-bg"><img src="/img/login-bg/bg-5.jpg" alt="" /></a></li>-->
    <!--<li><a href="#" data-click="change-bg"><img src="/img/login-bg/bg-6.jpg" alt="" /></a></li>-->
    <!--</ul>-->

    <!-- begin theme-panel -->
    <% if user_signed_in? %>
        <!-- begin theme-panel -->
        <%= render 'layouts/theme_panel_admin' %>
        <!-- end theme-panel -->

        <!-- begin scroll to top btn -->
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
        <!-- end scroll to top btn -->
    <% end %>

    <!-- end theme-panel -->
  </div>
  <!-- end page container -->

