<style>
    .profile-image .profile_image_tag{
        width: 60%;
        border-radius: 4px;
        border: 1px solid #ffffff;

        -webkit-box-shadow: 3px 3px 15px 2px rgba(192,214,200,1);
        -moz-box-shadow: 3px 3px 15px 2px rgba(192,214,200,1);
        box-shadow: 3px 3px 15px 2px rgba(192,214,200,1);
    }
    #user_information_profile_photo{
        display: none;
    }
    #change_profile_form{
        margin-top: 10px;
    }
</style>
<!-- begin page #content -->

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Bank account details</h2>
    <ol class="breadcrumb">
      <li>
        <%= link_to 'Home', root_path, data: { no_turbolink: true } %>
      </li>
      <li>
        <%= link_to 'List of bank accounts', bank_accounts_path, data: { no_turbolink: true } %>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>

<!-- begin profile-section -->
<div class="row border-bottom white-bg dashboard-header">
  <!-- begin profile-left -->

  <!-- end profile-left -->
  <!-- begin profile-right -->
  <div class="col-md-12">
    <!-- begin profile-info -->
    <div class="profile-info">
      <!-- begin table -->
      <div class="table-responsive">
        <table class="table table-profile">
          <thead>
          <tr>
            <th></th>
            <th>
              <h3><%= @bank_account.account_name %>  </h3>
            </th>
            <th class="text-right">
              <h4><%= link_to 'Edit bank info', edit_bank_account_path(@bank_account),data: { no_turbolink: true }, :class=>"btn btn-default"  %></h4>
            </th>
          </tr>
          </thead>
          <tbody>
          <!--<tr class="highlight">-->
          <!--<td class="field">Mood</td>-->
          <!--<td><a href="#">Add Mood Message</a></td>-->
          <!--</tr>-->
          <!--<tr class="divider">-->
          <!--<td colspan="2"></td>-->
          <!--</tr>-->
          <tr>
            <td class="field">Bank name</td>
            <td>
              <%= @bank_account.bank_name %>
              <!--<a href="#" class="m-l-5">Edit</a>-->
            </td>
          </tr>
          <tr>
            <td class="field">Branch name</td>
            <td>
               <%= @bank_account.branch_name %>
              <!--<a href="#" class="m-l-5">Edit</a>-->
            </td>
          </tr>

          <tr>
            <td class="field">Account name</td>
            <td>
              <%= @bank_account.account_name %>
            </td>
          </tr>
          <tr>
            <td class="field">Account number</td>
            <td>
              <%= @bank_account.account_number %>
            </td>
          </tr>
          <tr>
            <td class="field">Account type</td>
            <td>
              <%= @bank_account.account_type %>
            </td>
          </tr>

          <tr>
            <td class="field">Account balance</td>
            <td>
              <%= @bank_account.balance %>
            </td>
          </tr>

          <tr>
            <td class="field">Details info</td>
            <td>
              <%= @bank_account.details %>
            </td>
          </tr>

          <tr>
            <td class="field">Status</td>
            <td>
              <span class="label label-<%= @bank_account.isActive ? 'success' : 'danger' %> "><%= @bank_account.isActive ? 'Active' : 'Inactive' %></span>
            </td>
          </tr>
          <tr class="divider">
            <td colspan="2"></td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- end table -->
    </div>
    <!-- end profile-info -->
  </div>
  <!-- end profile-right -->
</div>
<!-- end profile-section -->


<!-- end page #content -->
<style type="text/css">
    #crop-image-show{
        display: block;
        position: fixed;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 66666;
        background-color: black;
    }
    .loading_effect_implement{
        display: none;
        position: fixed;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 66667;
        background-color: white;
        text-align: center;
        padding-top: 100px;
    }
</style>

