<% if @foods.any? %>
    <% @foods.each do |food| %>
        <div class="col-md-3 first_food_items">
          <% if food.photo? %>
              <img class="profile_image_tag" src="<%= food.photo %>">
          <% else %>
              <img class="profile_image_tag" src="/img/demo_profile.png" alt="" />
          <% end %>
          <h3><%= food.name %> </h3>
          <% if food.discount_tk > 0 && food.price >= food.discount_tk %>
              <h4>tk <%= food.price-food.discount_tk %>  <span>tk <%= food.price %> </span></h4>
          <% else %>
              <h4>tk  <%= food.price %> </h4>
          <% end %>
          <button type="button" class="btn btn-success"><i class="fa fa-edit"></i> ADD TO CARD</button>
        </div>
    <% end %>
<% else %>
    <h2>There is no food.</h2>
<% end %>