<li class="<%= menu_class_active('bank_balance_outs') %>">
  <a><i class="fa fa-dollar"></i> <span class="nav-label">Bank Balance Out</span> <span class="fa arrow"></span></a>
  <ul class="nav nav-second-level">
    <li class="<%= sub_menu_class_active(new_bank_balance_out_path) %>">
      <%= link_to 'Withdraw bank balance', new_bank_balance_out_path, data: { no_turbolink: true } %>
    </li>
    <li class="<%= sub_menu_class_active(monthly_and_yearly_report_bank_balance_outs_path) %>">
      <%= link_to 'Monthly reports', monthly_and_yearly_report_bank_balance_outs_path, data: { no_turbolink: true } %>
    </li>
    <li class="<%= sub_menu_class_active(date_to_date_report_bank_balance_outs_path) %>" >
      <%= link_to 'Date to date reports', date_to_date_report_bank_balance_outs_path, data: { no_turbolink: true } %>
    </li>
  </ul>
</li>
<li class="<%= menu_class_active('cash_balance_outs') %>">
  <a><i class="fa fa-dollar"></i> <span class="nav-label">Cash Balance Out</span> <span class="fa arrow"></span></a>
  <ul class="nav nav-second-level">
    <li class="<%= sub_menu_class_active(new_cash_balance_out_path) %>">
      <%= link_to 'Withdraw bank balance', new_cash_balance_out_path, data: { no_turbolink: true } %>
    </li>
    <li class="<%= sub_menu_class_active(monthly_and_yearly_report_cash_balance_outs_path) %>">
      <%= link_to 'Monthly reports', monthly_and_yearly_report_cash_balance_outs_path, data: { no_turbolink: true } %>
    </li>
    <li class="<%= sub_menu_class_active(date_to_date_report_cash_balance_outs_path) %>" >
      <%= link_to 'Date to date reports', date_to_date_report_cash_balance_outs_path, data: { no_turbolink: true } %>
    </li>
  </ul>
</li>

<li class="<%= menu_class_active('party_payments') %>">
  <a><i class="fa fa-dollar"></i> <span class="nav-label">Party Payment</span> <span class="fa arrow"></span></a>
  <ul class="nav nav-second-level">
    <li class="<%= sub_menu_class_active(new_party_payment_path) %>">
      <%= link_to 'Add payment', new_party_payment_path, data: { no_turbolink: true } %>
    </li>
    <li class="<%= sub_menu_class_active(monthly_and_yearly_report_party_payments_path) %>">
      <%= link_to 'Monthly reports', monthly_and_yearly_report_party_payments_path, data: { no_turbolink: true } %>
    </li>
    <li class="<%= sub_menu_class_active(date_to_date_report_party_payments_path) %>">
      <%= link_to 'Date to date reports', date_to_date_report_party_payments_path, data: { no_turbolink: true } %>
    </li>
  </ul>
</li>
<li class="<%= menu_class_active('employee_payments') %>">
  <a><i class="fa fa-dollar"></i> <span class="nav-label">Employee Payment</span> <span class="fa arrow"></span></a>
  <ul class="nav nav-second-level">
    <li class="<%= sub_menu_class_active(new_employee_payment_path) %>">
      <%= link_to 'Add payment', new_employee_payment_path, data: { no_turbolink: true } %>
    </li>
    <li class="<%= sub_menu_class_active(monthly_and_yearly_report_employee_payments_path) %>">
      <%= link_to 'Monthly reports', monthly_and_yearly_report_employee_payments_path, data: { no_turbolink: true } %>
    </li>
    <li class="<%= sub_menu_class_active(date_to_date_report_employee_payments_path) %>">
      <%= link_to 'Date to date reports', date_to_date_report_employee_payments_path, data: { no_turbolink: true } %>
    </li>
  </ul>
</li>
<li class="<%= menu_class_active('main_costs') %>">
  <a><i class="fa fa-money"></i> <span class="nav-label">Main cost</span> <span class="fa arrow"></span></a>
  <ul class="nav nav-second-level">
    <li class="<%= sub_menu_class_active(new_main_cost_path) %>">
      <%= link_to 'Add main cost', new_main_cost_path, data: { no_turbolink: true } %>
    </li>
    <li class="<%= sub_menu_class_active(monthly_and_yearly_report_main_costs_path) %>">
      <%= link_to 'Monthly reports', monthly_and_yearly_report_main_costs_path, data: { no_turbolink: true } %>
    </li>
    <li class="<%= sub_menu_class_active(date_to_date_report_main_costs_path) %>">
      <%= link_to 'Date to date reports', date_to_date_report_main_costs_path, data: { no_turbolink: true } %>
    </li>
  </ul>
</li>