<li class="<%= menu_class_active('bank_balance_entries') %>">
  <a><i class="fa fa-dollar"></i> <span class="nav-label">Bank Balance Entry</span> <span class="fa arrow"></span></a>
  <ul class="nav nav-second-level">
    <li class="<%= sub_menu_class_active(new_bank_balance_entry_path) %>" >
      <%= link_to 'Add bank balance', new_bank_balance_entry_path, data: { no_turbolink: true } %>
    </li>
    <li class="<%= sub_menu_class_active(monthly_and_yearly_report_bank_balance_entries_path) %>" >
      <%= link_to 'Monthly reports', monthly_and_yearly_report_bank_balance_entries_path, data: { no_turbolink: true } %>
    </li>
    <li class="<%= sub_menu_class_active(date_to_date_report_bank_balance_entries_path) %>">
      <%= link_to 'Date to date reports', date_to_date_report_bank_balance_entries_path, data: { no_turbolink: true } %>
    </li>
  </ul>
</li>
<li class="<%= menu_class_active('cash_balance_entries') %>">
  <a><i class="fa fa-dollar"></i> <span class="nav-label">Cash Balance Entry</span> <span class="fa arrow"></span></a>
  <ul class="nav nav-second-level">
    <li class="<%= sub_menu_class_active(new_cash_balance_entry_path) %>" >
      <%= link_to 'Add cash balance', new_cash_balance_entry_path, data: { no_turbolink: true } %>
    </li>
    <li class="<%= sub_menu_class_active(monthly_and_yearly_report_cash_balance_entries_path) %>" >
      <%= link_to 'Monthly reports', monthly_and_yearly_report_cash_balance_entries_path, data: { no_turbolink: true } %>
    </li>
    <li class="<%= sub_menu_class_active(date_to_date_report_cash_balance_entries_path) %>">
      <%= link_to 'Date to date reports', date_to_date_report_cash_balance_entries_path, data: { no_turbolink: true } %>
    </li>
  </ul>
</li>
<li class="<%= menu_class_active('buyer_payments') %>">
  <a><i class="fa fa-dollar"></i> <span class="nav-label">Buyer Payment</span> <span class="fa arrow"></span></a>
  <ul class="nav nav-second-level">
    <li class="<%= sub_menu_class_active(new_buyer_payment_path) %>">
      <%= link_to 'Add payment', new_buyer_payment_path, data: { no_turbolink: true } %>
    </li>
    <li class="<%= sub_menu_class_active(monthly_and_yearly_report_buyer_payments_path) %>">
      <%= link_to 'Monthly reports', monthly_and_yearly_report_buyer_payments_path, data: { no_turbolink: true } %>
    </li>
    <li class="<%= sub_menu_class_active(date_to_date_report_buyer_payments_path) %>">
      <%= link_to 'Date to date reports', date_to_date_report_buyer_payments_path, data: { no_turbolink: true } %>
    </li>
  </ul>
</li>