<li class="header_custom_menu_li">
  <div>
    <%= link_to 'Home', root_path, data: { no_turbolink: true } %>
  </div>
</li>
<li class="header_custom_menu_li">
  <div>
    <%= link_to 'Reports', monthly_and_yearly_report_balance_reports_path, data: { no_turbolink: true } %>
  </div>
</li>
<li class="header_custom_menu_li">
  <div>
    <%= link_to 'Balance In', monthly_and_yearly_report_bank_balance_entries_path, data: { no_turbolink: true } %>
  </div>
</li>
<li class="header_custom_menu_li">
  <div>
    <%= link_to 'Balance Out', monthly_and_yearly_report_bank_balance_outs_path, data: { no_turbolink: true } %>
  </div>
</li>
<li class="header_custom_menu_li">
  <div>
    <%= link_to 'Employee', employees_path, data: { no_turbolink: true } %>
  </div>
</li>
<li class="header_custom_menu_li">
  <div>
    <%= link_to 'Product', storage_reports_path, data: { no_turbolink: true } %>
  </div>
</li>