<% if current_user.user_type == 1 || current_user.admin_permission.super_admin || current_user.admin_permission.admin_creation %>
    <li class="">
      <a><i class="fa fa-user"></i> <span class="nav-label">Admins</span> <span class="fa arrow"></span></a>
      <ul class="nav nav-second-level">
        <li class="">
          <%= link_to 'All admins', admins_path, data: { no_turbolink: true } %>
        </li>
        <li >
          <%= link_to 'Create admin', new_admin_path, data: { no_turbolink: true } %>
        </li>
      </ul>
    </li>
<% end %>
<li class="">
  <a><i class="fa fa-refresh"></i> <span class="nav-label">Food Category</span> <span class="fa arrow"></span></a>
  <ul class="nav nav-second-level">
    <li class="">
      <%= link_to 'All categories', food_categories_path, data: { no_turbolink: true } %>
    </li>
    <li >
      <%= link_to 'Create category', new_food_category_path, data: { no_turbolink: true } %>
    </li>
  </ul>
</li>
<li class="">
  <a><i class="fa fa-refresh"></i> <span class="nav-label">Food sub category</span> <span class="fa arrow"></span></a>
  <ul class="nav nav-second-level">
    <li class="">
      <%= link_to 'All sub categories', food_sub_categories_path, data: { no_turbolink: true } %>
    </li>
    <li >
      <%= link_to 'Create sub category', new_food_sub_category_path, data: { no_turbolink: true } %>
    </li>
  </ul>
</li>
<li>
  <a href="#"><i class="fa fa-diamond"></i> <span class="nav-label">Layouts</span> <span class="label label-primary pull-right">NEW</span></a>
</li>
      