<% if current_user.user_type == 1 || current_user.admin_permission.super_admin || current_user.admin_permission.admin_creation %>
    <li class="">
      <a><i class="fa fa-user"></i> <span class="nav-label">Admins</span> <span class="fa arrow"></span></a>
      <ul class="nav nav-second-level">
        <li class="">
          <%= link_to 'All admins', admins_path, data: { no_turbolink: true } %>
        </li>
        <li >
          <%= link_to 'Create admin', new_admin_path, data: { no_turbolink: true } %>
        </li>
      </ul>
    </li>
<% end %>
<li class="">
  <a><i class="fa fa-refresh"></i> <span class="nav-label">Buyers</span> <span class="fa arrow"></span></a>
  <ul class="nav nav-second-level">
    <li class="">
      <%= link_to 'All Buyers', buyers_path, data: { no_turbolink: true } %>
    </li>
    <li >
      <%= link_to 'Create new buyers', new_buyer_path, data: { no_turbolink: true } %>
    </li>
  </ul>
</li>
<li class="">
  <a><i class="fa fa-refresh"></i> <span class="nav-label">Party</span> <span class="fa arrow"></span></a>
  <ul class="nav nav-second-level">
    <li class="">
      <%= link_to 'All parties', parties_path, data: { no_turbolink: true } %>
    </li>
    <li >
      <%= link_to 'Create new party', new_party_path, data: { no_turbolink: true } %>
    </li>
  </ul>
</li>
<li class="">
  <a><i class="fa fa-refresh"></i> <span class="nav-label">Product Type</span> <span class="fa arrow"></span></a>
  <ul class="nav nav-second-level">
    <li class="">
      <%= link_to 'All types', product_types_path, data: { no_turbolink: true } %>
    </li>
    <li >
      <%= link_to 'Create new type', new_product_type_path, data: { no_turbolink: true } %>
    </li>
  </ul>
</li>
<li class="">
  <a><i class="fa fa-refresh"></i> <span class="nav-label">Product Color</span> <span class="fa arrow"></span></a>
  <ul class="nav nav-second-level">
    <li class="">
      <%= link_to 'All colors', product_colors_path, data: { no_turbolink: true } %>
    </li>
    <li >
      <%= link_to 'Create new color ', new_product_color_path, data: { no_turbolink: true } %>
    </li>
  </ul>
</li>
<li>
  <a href="#"><i class="fa fa-diamond"></i> <span class="nav-label">Layouts</span> <span class="label label-primary pull-right">NEW</span></a>
</li>
      