<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element"> <span>
                            <%= render 'layouts/profile_photo_for_sigined_in_user' %>
                             </span>
          <a data-toggle="dropdown" class="dropdown-toggle">
                <span class="clear">
                  <span class="block m-t-xs">
                    <strong class="font-bold">
                      <%= current_user.email %>
                    </strong>
                  </span>
                  <span class="text-muted text-xs block">
                    <% if current_user.user_information.designation %>
                    <%= current_user.user_information.designation != '' ? current_user.user_information.designation : current_user.email %>
                    <% end %>
                    <b class="caret"></b>
                  </span>
                </span>
          </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <% if user_signed_in? %>
                <li>
                  <%= link_to(edit_user_information_path(current_user.user_information), data: { no_turbolink: true } ) do %>
                  <i class="fa fa-edit"></i> Edit Profile
                  <% end %>
                </li>

                <li>
                  <%= link_to( user_information_path(current_user.user_information), data: { no_turbolink: true } ) do %>
                      <i class="fa fa-user"></i> Profile
                  <% end %>
                </li>
                <li>
                  <%= link_to( edit_user_registration_path, data: { no_turbolink: true } ) do %>
                      <i class="fa fa-cog"></i> Settings
                  <% end %>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to( destroy_user_session_path, :method => :delete) do %>
                      <i class="fa fa-sign-out"></i> Log out
                  <% end %>
                </li>
            <% end %>

          </ul>
        </div>
        <div class="logo-element">
          <%= get_company_info.short_name %>
        </div>
      </li>

    <% if params[:controller] == 'balance_reports' || params[:controller] == 'total_expense_reports' || params[:controller] == 'total_income_reports' %>
        <%= render 'layouts/reports_left_side_bar_admin' %>
    <% elsif params[:controller] == 'bank_balance_entries' || params[:controller] == 'cash_balance_entries' || params[:controller] == 'buyer_payments' %>
        <%= render 'layouts/balance_in_left_side_bar_admin' %>
    <% elsif params[:controller] == 'bank_balance_outs' || params[:controller] == 'cash_balance_outs' || params[:controller] == 'party_payments' || params[:controller] == 'employee_payments' || params[:controller] == 'main_costs' %>
        <%= render 'layouts/balance_out_left_side_bar_admin' %>
    <% elsif params[:controller] == 'storage_product_adds' || params[:controller] == 'storage_product_outs' || params[:controller] == 'product_imports' || params[:controller] == 'product_exports' || params[:controller] == 'product_types' || params[:controller] == 'product_colors' || params[:controller] == 'storage_reports' %>
        <%= render 'layouts/product_left_side_bar_admin' %>
    <% elsif params[:controller] == 'employee_salary_adds' || params[:controller] == 'employee_leaves' || params[:controller] == 'employees' %>
        <%= render 'layouts/employee_left_side_bar_admin' %>
    <% else %>
        <%= render 'layouts/home_left_side_bar_for_admin' %>
    <% end %>



    </ul>

  </div>
</nav>