<!-- begin #sidebar -->
<div id="sidebar" class="sidebar <%= ThemeCustomization.last ? (ThemeCustomization.last.sidebar_style == 'grid' ? ' sidebar-grid ' : '') : '' %>">
<!-- begin sidebar scrollbar -->
<div data-scrollbar="true" data-height="100%">
<!-- begin sidebar user -->
<ul class="nav">
  <li class="nav-profile">
    <div class="image">
      <a>
        <%= render 'layouts/profile_photo_for_sigined_in_user' %>
      </a>
    </div>
    <div class="info">
      <%= current_user.user_information.first_name %>

    </div>
  </li>
</ul>
<!-- end sidebar user -->
<!-- begin sidebar nav -->
<% if params[:controller] == 'items' || params[:controller] == 'sub_items' %>
  <%= render 'layouts/product_items_order_left_side_bar_admin' %>
<% else %>
  <%= render 'layouts/home_left_side_bar_for_admin' %>
<% end %>

<!-- end sidebar nav -->
</div>
<!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>
<!-- end #sidebar -->