<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8" />
  <title> Restaurant </title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
  <meta content="" name="description" />
  <meta content="" name="author" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= 'gray-bg' unless user_signed_in? %>">
<% if user_signed_in? %>
    <div id="wrapper">
    <% if user_signed_in? %>
        <%= render 'layouts/left_side_bar_admin_new' %>
    <% end %>

    <div id="page-wrapper" class="gray-bg dashbard-1">
    <% if user_signed_in? %>
        <%= render 'layouts/header_admin' %>
    <% end %>
    <% if user_signed_in? %>
        <%= render 'layouts/alert_messages' %>
        <%= yield %>
    <% end %>

    </div>

    <% if user_signed_in? %>
        <%= render 'layouts/small_chat_box' %>
        <%= render 'layouts/right_side_bar_admin' %>
    <% end %>
    </div>
<% else %>
    <%= render 'layouts/alert_messages' %>
    <%= yield %>
<% end %>




</body>

</html>
