<div class="row">
  <div class="col-md-6">
    <h4 class="">
      <span class="text-left">Leave History</span>
    </h4>
    <h4>
      <span class="text-right">Employee: <%= @employee ? @employee.name : 'All'  %> </span>
    </h4>
    <h5>
      <% month_id = '' %>
      <% year_id = '' %>
      <% employee_id = @employee.id if @employee %>
      <% month_id = @month.id if @month %>
      <% year_id = @year.name if @year %>
      <%= link_to leave_search_according_to_employee_download_employee_leaves_path(:format => :xls, :employee_id => employee_id, :year_id=> year_id, :month_id=> month_id), target: '_blank'  do %>
          <span class="label label-info"><i class="fa fa-download"></i> Download xls</span>
      <% end %>
      <%= link_to leave_search_according_to_employee_download_employee_leaves_path(:format => :pdf, :employee_id => employee_id, :year_id=> year_id, :month_id=> month_id), target: '_blank'  do %>
          <span class="label label-success"><i class="fa fa-download"></i> Download PDF</span>
      <% end %>
    </h5>
  </div>
  <div class="col-md-6 text-right">
    <h4>
      <span class="text-right">Month: <%= @month ? @month.name : 'All'  %> </span>
    </h4>
    <h4>
      <span class="text-right">Year: <%= @year ? @year.name : 'All'  %> </span>
    </h4>
  </div>
</div>