<!-- begin page #content -->

<!-- begin breadcrumb -->
<ol class="breadcrumb pull-right">
  <li>
    <%= link_to 'Home', root_path, data: { no_turbolink: true }  %>
  </li>
  <li class="active">Dashboard</li>
</ol>
<!-- end breadcrumb -->
<!-- begin page-header -->
<h1 class="page-header">Profile Page <small>user's personal information...</small></h1>
<!-- end page-header -->


<div class="profile-container">
<!-- begin profile-section -->
<div class="profile-section">
  <!-- begin profile-left -->
  <div class="profile-left">
    <!-- begin profile-image -->
    <div class="profile-image">
      <% if @user_information.profile_photo %>
          <img src="<%= @user_information.profile_photo.cthumb %>">
      <% else %>
          <img src="/img/demo_profile.png" alt="" />
      <% end %>
      <i class="fa fa-user hide"></i>
    </div>
    <!-- end profile-image -->
    <div class="m-b-10">
      <form id="change_profile_form">
        <%= hidden_field_tag :user_info_id, @user_information.id %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
          <span class="btn btn-warning btn-block btn-sm fileinput-button">
            <i class="fa fa-upload"></i>
            <span>Upload profile photo...</span>
            <input class="btn btn-warning btn-block btn-sm" type="file" name="user_information[profile_photo]" id="user_information_profile_photo">
          </span>
      </form>
      <!--<a href="#" class="btn btn-warning btn-block btn-sm">Change Picture</a>-->
    </div>
    <!-- begin profile-highlight -->
    <div class="profile-highlight">
      <h4><i class="fa fa-cog"></i> Only My Contacts</h4>
      <div class="checkbox m-b-5 m-t-0">
        <label><input type="checkbox" /> Show my timezone</label>
      </div>
      <div class="checkbox m-b-0">
        <label><input type="checkbox" /> Show i have 14 contacts</label>
      </div>
    </div>
    <!-- end profile-highlight -->
  </div>
  <!-- end profile-left -->
  <!-- begin profile-right -->
  <div class="profile-right">
    <!-- begin profile-info -->
    <div class="profile-info">
      <!-- begin table -->
      <div class="table-responsive">
        <table class="table table-profile">
          <thead>
          <tr>
            <th></th>
            <th>
              <h4><%= @user_information.first_name %> <%= @user_information.last_name %> <small><%= @user_information.designation %></small></h4>
            </th>
            <th class="text-right">
              <h4><%= link_to 'Edit profile', edit_user_information_path(current_user.user_information), :class=>"btn btn-default"  %></h4>
            </th>
          </tr>
          </thead>
          <tbody>
          <!--<tr class="highlight">-->
            <!--<td class="field">Mood</td>-->
            <!--<td><a href="#">Add Mood Message</a></td>-->
          <!--</tr>-->
          <!--<tr class="divider">-->
            <!--<td colspan="2"></td>-->
          <!--</tr>-->
          <tr>
            <td class="field">Mobile</td>
            <td>
              <i class="fa fa-mobile fa-lg m-r-5"></i> <%= @user_information.contact_number %>
              <!--<a href="#" class="m-l-5">Edit</a>-->
            </td>
          </tr>
          <tr>
            <td class="field">Email</td>
            <td>
              <i class="fa fa-envelope fa-lg m-r-5"></i> <%= @user_information.user.email %>
              <!--<a href="#" class="m-l-5">Edit</a>-->
            </td>
          </tr>
          <!--<tr>-->
            <!--<td class="field">Home</td>-->
            <!--<td><a href="#">Add Number</a></td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td class="field">Office</td>-->
            <!--<td><a href="#">Add Number</a></td>-->
          <!--</tr>-->
          <!--<tr class="divider">-->
            <!--<td colspan="2"></td>-->
          <!--</tr>-->
          <!--<tr class="highlight">-->
            <!--<td class="field">About Me</td>-->
            <!--<td><a href="#">Add Description</a></td>-->
          <!--</tr>-->
          <!--<tr class="divider">-->
            <!--<td colspan="2"></td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td class="field">Country/Region</td>-->
            <!--<td>-->
              <!--<select class="form-control input-inline input-xs" name="region">-->
                <!--<option value="US" selected>United State</option>-->
                <!--<option value="AF">Afghanistan</option>-->
                <!--<option value="AL">Albania</option>-->
                <!--<option value="DZ">Algeria</option>-->
                <!--<option value="AS">American Samoa</option>-->
                <!--<option value="AD">Andorra</option>-->
                <!--<option value="AO">Angola</option>-->
                <!--<option value="AI">Anguilla</option>-->
                <!--<option value="AQ">Antarctica</option>-->
                <!--<option value="AG">Antigua and Barbuda</option>-->
              <!--</select>-->
            <!--</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td class="field">City</td>-->
            <!--<td>Los Angeles</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td class="field">State</td>-->
            <!--<td><a href="#">Add State</a></td>-->
          <!--</tr>-->
          <tr>
            <td class="field">Address</td>
            <td>
              <%= @user_information.address %>
            </td>
          </tr>

          <tr>
            <td class="field">Gender</td>
            <td>
              <%= @user_information.gender %>
            </td>
          </tr>
          <tr>
            <td class="field">Date of birth</td>
            <td>
              <%= @user_information.date_of_birth %>
            </td>
          </tr>
          <tr>
            <td class="field">Nationality</td>
            <td>
              <%= @user_information.nationality %>
            </td>
          </tr>
          <tr>
            <td class="field">Religion</td>
            <td>
              <%= @user_information.religion %>
            </td>
          </tr>
          <tr>
            <td class="field">Language</td>
            <td>
              <%= @user_information.language %>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- end table -->
    </div>
    <!-- end profile-info -->
  </div>
  <!-- end profile-right -->
</div>
<!-- end profile-section -->

</div>

<!-- end page #content -->
<style type="text/css">
  #crop-image-show{
      display: block;
      position: fixed;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 66666;
      background-color: black;
  }
</style>
<div id="crop-image-show"  style="display: none;">
  <div id="crop-image"></div>
</div>

<script>
$(document).ready(function(){
    $('#user_information_profile_photo').change(function(){
        $('form#change_profile_form').submit();
    });
    $('form#change_profile_form').submit(function(e){
        $.ajax({
            url: '/user_informations/profile_picture_change',
            type: 'POST',
            data: new FormData(this),
            processData: false,
            contentType: false
        });
        e.preventDefault();
    });
});
</script>